<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>การบริหารยาในทารกแรกเกิด</h1>
<body class="home-page"> <!-- ใช้ class home-page ในหน้า Home -->
    <div class="container">
        <a href="{{ url_for('calculate_pma_route') }}" class="button home-button">
            <img src="http://cdn.jsdelivr.net/gh/060531/images/Photoroom_002_25670829_212123.png" alt="Dose ยา">
            <span>Dose ยา</span>
        </a>
        <a href="{{ url_for('medication_administration') }}" class="button home-button">
            <img src="http://cdn.jsdelivr.net/gh/060531/images/Photoroom_000_25670829_212123.png" alt="การบริหารยา">
            <span>การบริหารยา</span>
        </a>
        <a href="{{ url_for('fentanyl_small_dose_route') }}" class="button home-button">
            <img src="http://cdn.jsdelivr.net/gh/060531/images/Photoroom_001_25670829_212123.png" alt="Small Dose">
            <span>Small Dose</span>
        </a>
        <a href="{{ url_for('fluids_route') }}" class="button home-button">
            <img src="http://cdn.jsdelivr.net/gh/060531/images/Photoroom_003_25670829_212123.png" alt="Fluids">
            <span>Fluids</span>
        </a>
    </div>
</body>


{% endblock %}
